<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaoxi.generalandroid">

    <application
        android:name="com.xiaoxi.generalandroid.base.BaseApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.xiaoxi.generalandroid.ui.module.main.entrance.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.xiaoxi.generalandroid.ui.module.web.WebActivity" />
        <activity android:name="com.xiaoxi.generalandroid.ui.module.list.ListActivity" />
    </application>

</manifest>